<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curtains & Blinds</title>
    <!-- bootstrap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
        integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/about.css">
    <link rel="stylesheet" href="CSS/variables.css">

    <!-- Header & Footer JS -->
    <script src="JS/header.js"></script>
    <script src="JS/footer.js"></script>

</head>

<body>
    <div class="container-fluid main p-0">
        <img class="header-img" src="images/header-bg.jpg" style="width: 100% !important;" alt="">
        <div class="container">
            <!-- header started -->
            <custom-header></custom-header>
            <!-- header Ends -->

            <div class="page-title-section m-auto">
                <div class="breadcrumbs">
                    <a class="text-white" href="#">Home </a>
                    <i class="bi bi-arrow-right"></i>
                    <a class="text-white" href="#" class="active"> Our Story</a>
                </div>
                <h2 class="text-white NewKansas-medium">Our Story</h2>
            </div>
        </div>
        <section class="container wrapper m-100">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h3 class="NewKansas-medium">It is all about the customer expirience</h3>
                    <p class="mt-4">We are dedicated to providing an enhanced customer experience with plenty of choice
                        in
                        deciding trendy and stylish window furnishings in the comfort of your homes.</p>
                    <p class="mt-4">With a zero clutter approach we make sure that you get to see the material in the
                        comfort of
                        your homes and decide amongst your loved ones.</p>
                    <p class="mt-4">Our products are not only affordable but the process also is hassle-free, ensuring
                        guaranteed
                        quality with every order.</p>
                </div>
                <div class="col-md-6">
                    <img src="images/about-section-right-2.svg" alt="" class="img-fluid">
                </div>
            </div>
        </section>

        <section class="cab-usp container-fluid bg-dark wrapper">
            <div class="container">
                <h2 class="NewKansas-medium text-center text-white mb-4">The CAB strengths</h2>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <div class="card uspCard d-flex justify-content-center align-items-center flex-column">
                            <img src="images/design.svg" class="mb-4" alt="">
                            <h4>In-house design team</h4>
                            <p>In-house design team creating stylish yet budget friendly curtains</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card uspCard d-flex justify-content-center align-items-center flex-column">
                            <img src="images/machine.svg" class="mb-4" alt="">
                            <h4>Fabrication unit</h4>
                            <p>State of the art Fabrication unit</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card uspCard d-flex justify-content-center align-items-center flex-column">
                            <img src="images/material.svg" class="mb-4" alt="">
                            <h4>Strong material</h4>
                            <p>Strong material sourcing for better pricing</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card uspCard d-flex justify-content-center align-items-center flex-column">
                            <img src="images/tech.svg" class="mb-4" alt="">
                            <h4>Technology backed</h4>
                            <p>Technology backed order fulfilment process.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="ourTeam wrapper container">
            <h2 class="NewKansas-medium text-center mb-4">Our Team</h2>
            <p class="w-75 m-auto text-center">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="row mt-4">
                <div class="col-md-3">
                    <div class="card teamCard mb-4">
                        <img src="images/teamPhoto.png" alt="" class="img-fluid">
                        <div class="card-content text-center">
                            <h4 class="mt-3">Devesh Sharma</h4>
                            <p class="m-0">Founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card teamCard mb-4">
                        <img src="images/teamPhoto.png" alt="" class="img-fluid">
                        <div class="card-content text-center">
                            <h4 class="mt-3">Devesh Sharma</h4>
                            <p class="m-0">Founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card teamCard mb-4">
                        <img src="images/teamPhoto.png" alt="" class="img-fluid">
                        <div class="card-content text-center">
                            <h4 class="mt-3">Devesh Sharma</h4>
                            <p class="m-0">Founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card teamCardSub flex-column justify-content-between">
                        <p>“You miss 100% of the shots you don’t take” - Wayne Gretzky - Michael Scott</p>
                        <div class="social-link">
                            <a href="#"><img src="images/linkedin_C.svg" alt=""></a>
                            <a href="#"><img src="images/facebook_c.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card teamCard mb-4">
                        <img src="images/teamPhoto.png" alt="" class="img-fluid">
                        <div class="card-content text-center">
                            <h4 class="mt-3">Devesh Sharma</h4>
                            <p class="m-0">Founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card teamCard mb-4">
                        <img src="images/teamPhoto.png" alt="" class="img-fluid">
                        <div class="card-content text-center">
                            <h4 class="mt-3">Devesh Sharma</h4>
                            <p class="m-0">Founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card teamCard mb-4">
                        <img src="images/teamPhoto.png" alt="" class="img-fluid">
                        <div class="card-content text-center">
                            <h4 class="mt-3">Devesh Sharma</h4>
                            <p class="m-0">Founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card teamCard mb-4">
                        <img src="images/teamPhoto.png" alt="" class="img-fluid">
                        <div class="card-content text-center">
                            <h4 class="mt-3">Devesh Sharma</h4>
                            <p class="m-0">Founder</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid wrapper bg-white">
            <div class="container">
                <h2 class="NewKansas-medium">Bespoke Window Furnishings</h2>
                <h4 class="mt-3 mb-4">With over 40 years of industry expertise, we specialize in creating custom window
                    furnishings that meet the highest standards.</h4>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <img src="images/img-9.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <p>Our extensive range of high-quality products and exceptional customer service are designed to
                            exceed expectations.</p>
                        <p>By eliminating the middleman and working directly with the manufacturer, we’re able to offer
                            highly competitive prices. Our state of the art curtain factory, located in Delhi NCR,
                            allows us to maintain strict quality control and optimize production speed.</p>
                        <p>Confident in our skilled manufacturing team, we back all our in-house products with a 1-year
                            warranty. Plus, our efficient process ensures fast delivery, with an average turnaround time
                            of just 10 -12 days —significantly quicker than unorganised shops.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="container wrapper">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="NewKansas-medium">Trendy designs</h2>
                    <h1 style="color: #8E2D1F;" class="mb-4">@ honest pricing</h1>

                    <p>Our extensive range of high-quality products and exceptional customer service are designed to
                        exceed expectations.</p>
                    <p>
                        By eliminating the middleman and working directly with the manufacturer, we’re able to offer
                        highly competitive prices. Our state of the art curtain factory, located in Delhi NCR, allows us
                        to maintain strict quality control and optimize production speed.</p>

                    <p>Confident in our skilled manufacturing team, we back all our in-house products with a 1-year
                        warranty. Plus, our efficient process ensures fast delivery, with an average turnaround time of
                        just 10 -12 days —significantly quicker than unorganised shops.</p>
                </div>

                <div class="col-md-6">
                    <img src="images/image.png" alt="">
                </div>
            </div>
        </section>

        <section class="legacy w-75 m-auto">
            <div class="container text-center">
                <h2 class="text-center NewKansas-medium mb-4">Our Legacy</h2>
                <p class="mb-4">We have seen the evolution of the furnishing industry from the past 3 generations.</p>
                <p>From a single store on a busy street of Delhi today we are a group specialising in Furnishings and
                    expanding both our product range and our approach to business</p>

                <div class="card w-100 legacy-card">
                    <h4>We have constantly evolved ?</h4>
                    <p>Every Indian home is unique, and we wanted to offer our customers more options for their window
                        furnishings maintaing the aesthetics at the right price.</p>
                </div>
                <p>Our constant effort is to improve the customer expirience removing the clutter and ensuring clarity.
                    We understand the importance of touch and feel and have ensured that you decide</p>
            </div>
        </section>

        <section class="mki wrapper container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <img src="images/india-map.svg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-6">
                        <h2 class="NewKansas-medium">Make in India</h2>
                        <p>With a strong commitment to customer service, top-tier manufacturing, easy selection and 
                            installation, and highly competitive prices, you can trust that your order is crafted by
                            some of India’s most skilled and experienced curtain makers. </p>
                        <p>Drawing on this multi-generational expertise, we manufacture our curtains locally, partnering
                            with some of the finest mills across the country providing the highest quality fabrics. </p>
                        <p>Our impressive range of materials includes stylish borders, elegant stitching styles and
                            robust and high quality hardware. While our selection is vast, we never compromise on
                            quality or affordability.</p>

                    </div>
                </div>
            </div>
        </section>

        <section class="container wrapper">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="NewKansas-medium">We even cater to commercial and hospitality projects</h2>
                    <p>Elevate the aesthetics of commercial, residential, and hospitality spaces with our carefully
                        curated collections.</p>
                    <h3 class="NewKansas-regular">Why settle for dull office interiors?</h3>
                    <p>Our stunning commercial furnishings bring a fresh, modern appeal to work environments.</p>
                    <p>For hotels, we offer luxurious designs, including 100% blackout curtains to ensure ultimate
                        privacy and comfort for guests. In office spaces, choose from a variety of blinds such as zebra,
                        cellular, blackout, and sheer, tailored to balance style and functionality. </p>
                </div>
                <div class="col-md-6">
                    <img src="images/img-8.png" class="img-fluid" alt="">
                </div>
            </div>
        </section>


        <!-- FAQ -->

        <section class="faq wrapper">
            <div class="container">
                <h2 class="NewKansas-medium text-center mb-4">How to order</h2>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio architecto quia
                    beatae dolores in quis corporis? Aperiam, magni delectu</p>
                <div class="w-75 m-auto">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item mb-3">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                    Accordion Item #1
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                <div class="accordion-body">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos numquam eos tempora
                                    veniam eaque voluptatem? At recusandae itaque, illum maiores hic deserunt culpa in
                                    provident sed ex, explicabo, officia ratione.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item mb-3">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseTwo">
                                    Accordion Item #2
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos numquam eos tempora
                                    veniam eaque voluptatem? At recusandae itaque, illum maiores hic deserunt culpa in
                                    provident sed ex, explicabo, officia ratione.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item mb-3">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseThree">
                                    Accordion Item #3
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos numquam eos tempora
                                    veniam eaque voluptatem? At recusandae itaque, illum maiores hic deserunt culpa in
                                    provident sed ex, explicabo, officia ratione.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center"><button class="primary-btn mt-3">See All FAQ’s</button></div>
            </div>
        </section>
        <!-- footer -->
        <custom-footer></custom-footer>
        <!-- bootstrap-script -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="JS/home.js"></script>

</body>

</html>